In [1]:
import numpy as np
import pandas as pd
from dateutil import rrule
import os
# join path
# os.path.join()

In [2]:
# create data frame from dict
d = {'date':['2021-08-01', '2022-08-02', '2023-08-03', '2023-03-01', '2023-08-02', '2022-09-03', '2022-09-05', '2021-10-22', '2021-07-23', '2022-08-05', '2023-08-12', '2021-08-13']
     , 'weight': [15, 16, 80, 12, 75, 13, 10, 7, 20, 13, 55, 9]
     , 'type': ['cat', 'cat', 'dog', 'cat', 'dog', 'cat', 'cat', 'cat', 'dog', 'cat', 'dog', 'cat']}
df = pd.DataFrame(d)
print(df.shape)
# groupby
display(df.groupby(['type'])['weight'].mean().reset_index())

(12, 3)

  type  weight
0  cat  11.875
1  dog  57.500

In [3]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
df_august = df[df.date.dt.month.isin([8])]
df_august.head(4)

        date  weight type
0 2021-08-01      15  cat
1 2022-08-02      16  cat
2 2023-08-03      80  dog
4 2023-08-02      75  dog

In [4]:
start_dt = df.date.min()
end_dt = df.date.max()
print(start_dt, end_dt)
for dt in rrule.rrule(rrule.MONTHLY, dtstart = start_dt, until = end_dt):
    print(dt)

2021-07-23 00:00:00 2023-08-12 00:00:00
2021-07-23 00:00:00
2021-08-23 00:00:00
2021-09-23 00:00:00
2021-10-23 00:00:00
2021-11-23 00:00:00
2021-12-23 00:00:00
2022-01-23 00:00:00
2022-02-23 00:00:00
2022-03-23 00:00:00
2022-04-23 00:00:00
2022-05-23 00:00:00
2022-06-23 00:00:00
2022-07-23 00:00:00
2022-08-23 00:00:00
2022-09-23 00:00:00
2022-10-23 00:00:00
2022-11-23 00:00:00
2022-12-23 00:00:00
2023-01-23 00:00:00
2023-02-23 00:00:00
2023-03-23 00:00:00
2023-04-23 00:00:00
2023-05-23 00:00:00
2023-06-23 00:00:00
2023-07-23 00:00:00

In [5]:
# find items that aren't in list when compared with different list
lst1 = [1, 2, 3, 47, 8, 9]
lst2 = [2, 34, 5, 0, 2, 7, 412]
[item for item in lst1 if item not in lst2]

[1, 3, 47, 8, 9]

In [6]:
# merge data frames on a key
d = {'type': ['cat', 'dog'], 'food': ['fancy_feast', 'alpo']}
food_df = pd.DataFrame(d)
display(food_df)
df = df.merge(food_df, how = 'left', on = 'type')
display(df)

  type         food
0  cat  fancy_feast
1  dog         alpo

         date  weight type         food
0  2021-08-01      15  cat  fancy_feast
1  2022-08-02      16  cat  fancy_feast
2  2023-08-03      80  dog         alpo
3  2023-03-01      12  cat  fancy_feast
4  2023-08-02      75  dog         alpo
5  2022-09-03      13  cat  fancy_feast
6  2022-09-05      10  cat  fancy_feast
7  2021-10-22       7  cat  fancy_feast
8  2021-07-23      20  dog         alpo
9  2022-08-05      13  cat  fancy_feast
10 2023-08-12      55  dog         alpo
11 2021-08-13       9  cat  fancy_feast